## OS
.DS_Store
Thumbs.db

## Secrets / local
.env
.env.*
!.env.example
*.pem
*.key

## IDEs
.idea/
.vscode/
*.swp
*.swo
*~

## Python
__pycache__/
*.py[cod]
.venv/
venv/

## Node
node_modules/
dist/
*.tsbuildinfo

## Go
bin/
*.exe

## Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

## GitHub Actions
# Disable if testing code directly from this repo
# /.github/
